<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">Mate Finder</a>
    <ul class="navbar-nav mr-auto">
      <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link" routerLink="/members" routerLinkActive="active">Mathces</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
        </li>
        <li *appHasRole='["Admin", "Moderator"]' class="nav-item">
          <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
        </li>
        <li *appHasRole='["Admin", "Moderator"]' class="nav-item">
          <a class="nav-link" routerLink="/errors" routerLinkActive="active">Errors</a>
        </li>
      </ng-container>
    </ul>

    <ng-container  *ngIf="(accountService.currentUser$ | async) as user">
      <div dropdown class="mr-3 dropdown" *ngIf="user.messages.length > 0">
        <a dropdownToggle class="drop">
          <i class="fa fa-envelope text-light">
            <span class="badge badge-pill badge-danger">{{user.messages.length}}</span>
          </i>
        </a>
        <div *dropdownMenu class="dropdown-menu box-md mt-4" #scroll style="overflow: scroll; height: 250px;" [scrollTop]="scroll.scrollHeight">
          <p class="dropdown-item mb-0 text-center" style="border-bottom: 1px solid #B3A9A9;">You have {{user.messages.length}} new messages </p>
          <ul class="chat">
            <li *ngFor="let message of user.messages" class="dropdown-item" routerLink='{{"/members/" + message.senderUsername}}' [queryParams]='{tab: 3}'>
              <div>
                <span class="chat-img float-left mr-2">
                  <img class="rounded-circle" src="{{message.senderPhotoUrl || './assets/user.png'}}"
                    alt="{{message.senderUsername}}">
                </span>
                <div class="chat-body">
                  <div class="header">
                    <small class="text-muted float-right">
                      <span class="fa fa-clock-o">{{message.messageSent | timeago}}</span>                    
                    </small>
                  </div>
                  <p>{{message.content}}</p>
                </div>
              </div>            
            </li>
          </ul>
        </div>
      </div>
    </ng-container>
 

    <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
      <img class="img-circle rounded-circle" src="{{user.photoUrl || '/assets/user.png'}}" alt="{{user.username}}">
      <a class="dropdown-toggle text-light ml-2" dropdownToggle>Welcome
        {{user.knownAs || user.username | titlecase}}
      </a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" routerLink="/member/edit">Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="change-password">Change Password</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>

    <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="form-inline mt-2 mt-md-0"
      (ngSubmit)="login()" autocomplete="off">
      <input name="username" [(ngModel)]="model.username" class="form-control mr-sm-2" type="text"
        placeholder="Username">
      <input name="password" [(ngModel)]="model.password" class="form-control mr-sm-2" type="Password"
        placeholder="Password">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>